<div id="div-image">
  <img src="https://images.vexels.com/content/161984/preview/world-landmarks-illustration-design-e3f5a3.png"
       height="840" width="1510" alt="World Landmarks">
</div>
<div>
  <h2>Welcome to <strong>VoyageBooking</strong>!</h2>
  <br/>
  <br/>
  <div>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select [(value)]="selectedCountry" (selectionChange)="onCountryChange()" required>
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select [(value)]="selectedCity" >
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a date range (check-in & check_out dates)</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

    </mat-form-field>
    <br/>
    <br/>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
</div>
