<div *ngIf="availableHotels.length > 0">
  <div class="nav-buttons">
    <h2>Available Hotels</h2>
    <div id="other-buttons">
      <button mat-raised-button color="primary" (click)="toProfile()">View your profile</button>
      <button mat-raised-button color="primary" (click)="backToFilter()">Back to filters</button>
      <button mat-raised-button color="warn" (click)="logOut()">Log out</button>
    </div>
  </div>
  <div class="hotel-item">
    <ul>
      <li *ngFor="let hotel of availableHotels" class="hotel-item">
        <mat-card class="card">
          <mat-card-header>
              <mat-card-title>{{ hotel.hotelName }}</mat-card-title>
              <mat-card-subtitle>{{ hotel.city }}, {{ hotel.country }} - {{ hotel.street }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="hotel.hotelImageUrl" alt="Hotel Image">
          <mat-card-content>
            {{hotel.description}}
            <br/>
            <br/>
            Rate: <strong>{{hotel.rate}}</strong>
            <br/>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="viewHotelDetails(hotel.hotelId)">View Details</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="availableHotels.length === 0">
  <p>No available hotels found for the selected criteria.</p>
</div>
