<div *ngIf="hotels.length > 0">
  <button mat-raised-button color="primary" (click)="toProfile()">View your profile</button>
  <button mat-raised-button color="primary" (click)="logOut()">Log out</button>
  <br/>
  <h2>Your hotels</h2>
  <ul>
    <li *ngFor="let hotel of hotels">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ hotel.hotelName }}</mat-card-title>
          <mat-card-subtitle>{{ hotel.city }}, {{ hotel.country }} - {{ hotel.street }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="hotel.hotelImageUrl" alt="Hotel Image">
        <mat-card-content>
          {{hotel.description}}
          <br/>
          <br/>
          Rate: <strong>{{hotel.rate}}</strong>
          <br/>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="viewHotelRooms(hotel.hotelId)">View Rooms & Details</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
<div *ngIf="hotels.length === 0">
  <p>No available hotels found.</p>
</div>
