<br/>
<div class="filter-container">
  <mat-form-field class="wider-form-field">
    <mat-label>Enter a date range (check-in & check_out dates)</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Room ID</mat-label>
    <input matInput name="selectedRoomId" type="text" [(ngModel)]="selectedRoomId" (ngModelChange)="onRoomIdInputChange($event)" placeholder="Enter room id you want">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmitFilter()">Submit</button>
</div>

<!-- Table -->
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="bookingId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Booking ID</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.bookingId }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userEmail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Guest Email</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.userEmail }}</mat-cell>
  </ng-container>

  <!-- User Name Column -->
  <ng-container matColumnDef="userFirstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Guest First Name</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.userFirstName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userLastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Guest Last Name</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.userLastName }}</mat-cell>
  </ng-container>

  <!-- User Phone Number Column -->
  <ng-container matColumnDef="userPhoneNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Guest Phone Number</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.userPhoneNumber }}</mat-cell>
  </ng-container>

  <!-- Room Price Column -->
  <!--<ng-container matColumnDef="roomPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Room Price</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.roomPrice }}</mat-cell>
  </ng-container>-->

  <!-- Room ID Column -->
  <ng-container matColumnDef="roomId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Room ID</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.roomId }}</mat-cell>
  </ng-container>

  <!-- Check In Column -->
  <ng-container matColumnDef="check_in">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Check In</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.check_in }}</mat-cell>
  </ng-container>

  <!-- Check Out Column -->
  <ng-container matColumnDef="check_out">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Check Out</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.check_out }}</mat-cell>
  </ng-container>

  <!-- Sum Price Column -->
  <ng-container matColumnDef="sumPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sum Price</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.sumPrice }}</mat-cell>
  </ng-container>

  <!-- Created At Column -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
    <mat-cell *matCellDef="let booking">{{ booking.createdAt }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
<br/>
