.spacer {
  flex: 1 1 auto;
}

.header-btn{
  margin: 10px;
}
#header{
  background: #d6ecff;
}

#title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: darkblue;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}
.example-list-wrapping {
  max-width: 500px;
}
#profile_info{
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}

mat-card {
  margin-right: 10px;
}

button {
  margin: 10px;
}

app-view-bookings-user{
  margin-left: 10px;
}
